{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<h2>Ticket</h2>

  <h3>Id: </h3>
  <h3>Name: </h3>
  <h3>Type: </h3>
  <h3>Status: </h3>
  <h3>Assigned: </h3>
  <h3>Description: </h3>
  <h3>File: <a href=""></a></h3>
  <h3>Comments:</h3>


<table>
<tr>
  <td>Comment</td>
  <td>Creator</td>
  <td>Action</td>
</tr>

<tr>
  <td></td>
  <td></td>
  <td> <a href="" class="cnopkamini">Edit</a> </td>
</tr>

</table>

<h3>Tags:

<a href=""></a>

</h3>
<p>
<a href="comment_new.php?id=<?=$_GET['id'];?>" class="cnopka">NEW COMMIT</a>
<a class="cnopka" href="ticket_edit.php?id=<?=$id?>">EDIT TICKET</a>
</p>
{% endblock %}
